/* Estilos generales */
body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 5px;
    background-color: #f5f5f5;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h2 {
    font-weight: bold;
}

/* Estilos para los iconos de contacto */
.contact-icons a {
    color: white;
    margin-right: 10px;
}

/* Estilos para el contenedor principal */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact-icons a {
    margin-right: 10px;
}

.contact-icons img {
    width: 30px;
}

/* Estilos para menu */
.menu_container {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_container .navbar-nav .nav-link {
    color: #ffffff !important;
    text-decoration: none;
}

/* Estilos para el contenedor de los dos sub-contenedores */
.content-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* Estilos para los contenedores izquierdo y derecho */
.left-container,
.right-container {
    flex: 1;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 160px);
    margin: 0 10px;
}


/* Estilos para los proyectos */
.project-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.project-icon {
    font-size: 62px;
    margin-right: 10px;
}

.project-info {
    margin-bottom: 10px;
    padding-left: 10px;
}


/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}

footer .copyright-link {
    color: white;
}

/* Estilos para modo oscuro */
.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode .contact-icons a {
    color: white;
}

.dark-mode .project-box {
    border-color: #888;
    background-color: #444;
    color: white;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .content-container {
        flex-direction: column;
    }

    .left-container,
    .right-container {
        /*width: 90%;*/
        margin-bottom: 10px;
    }

    .project-box {
        width: 90%;
    }
}